.vscode
private/java/disk/files/logs
private/java/disk/files/csv
private/java/disk/files/json/hoc/HOCMembers.json
private/java/disk/files/json/hoc/HOCBoundaries.json
private/java/disk/files/json/hoc/GeoJsonCollection.json
private/java/disk/files/json/
private/testing
private/java/libs
private/php/logs
private/java/converters
