#body-wrapper {
    background-color: #222222;
    color: white;
}

#main-wrapper {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}

#representatives-list,
.legilature-offices-list,
.constituency-offices-list {
    padding-inline-start: 0px
}

.legislature-offices-list,
.constituency-offices-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.representative-list-item,
.office-list-item {
    list-style: none;
}

.representative-level {
    text-align: center;
}

.representative-details-with-image-container {
    background-color: #fdfdfd;
    color: #000000;
    border-radius: 1rem;
    min-width: 42.707rem;
}

.representative-main-details-with-image {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.representative-image {
    border-top-left-radius: 0.8rem;
}

.representative-main-details-container {
    padding-right: 1rem;
}

.representative-image-container {
    display: flex;
}

.representative-main-details-others-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto); 
    gap: 1rem;
}

.labelAndValue,
.toggle-button {
    margin: 0;
}

.representative-pa-container {
    border-bottom-style: solid;
    border-bottom-width: 0.5rem;
}

.representative-detail-label {
    font-weight: bold;
}

.offices-toggler {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.representative-offices-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 0rem;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.representative-offices-container.visible {
    max-height: 1000px;
    transition: max-height 0.5s ease-in;
}

.representative-legislature-office-container {
    padding-right: 3rem;
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: silver;
}

.representative-constituency-office-container {
    margin-left: 3rem;
}

.toggle-button-container {
    width: 100%;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: silver;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.toggle-button-container:hover {
    background-color: #808080;
}

.office-list-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
